services:
  api-gateway:
    environment:
      - OTEL_SERVICE_NAME=api-gateway
      - PYTHONPATH=/app/libs
    build:
      context: .
      dockerfile: services/api-gateway/Dockerfile.dev
    container_name: api-gateway
    ports:
      - "${API_GATEWAY_PORT}:${API_GATEWAY_PORT}"
    volumes:
      - ./services/api-gateway:/app
      - ./libs:/app/libs:ro
    env_file:
      - .env
    restart: unless-stopped

  data-aggregator:
    environment:
      - OTEL_SERVICE_NAME=data-aggregator
      - PYTHONPATH=/app/libs
    build:
      context: .
      dockerfile: services/data-aggregator/Dockerfile.dev
    container_name: data-aggregator
    ports:
      - "${DATA_AGGREGATOR_PORT}:${DATA_AGGREGATOR_PORT}"
    volumes:
      - ./services/data-aggregator:/app
      - ./libs:/app/libs:ro
    env_file:
      - .env
    restart: unless-stopped

  data-ingestor:
    build:
      context: .
      dockerfile: services/data-ingestor/Dockerfile.dev
    container_name: data-ingestor
    ports:
      - "${DATA_INGESTOR_PORT}:${DATA_INGESTOR_PORT}"
    volumes:
      - ./services/data-ingestor:/app
      - ./libs:/app/libs:ro
      - ./logs:/app/logs
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - OTEL_SERVICE_NAME=data-ingestor
      - DATA_INGESTOR_PORT=${DATA_INGESTOR_PORT}
      - PYTHONPATH=/app/libs
    depends_on:
      kafka:
        condition: service_healthy
    env_file:
      - .env
    restart: unless-stopped

  data-processor:
    environment:
      - OTEL_SERVICE_NAME=data-processor
      - PYTHONPATH=/app/libs
    build:
      context: .
      dockerfile: services/data-processor/Dockerfile.dev
    container_name: data-processor
    ports:
      - "${DATA_PROCESSOR_PORT}:${DATA_PROCESSOR_PORT}"
    volumes:
      - ./services/data-processor:/app
      - ./libs:/app/libs:ro
    depends_on:
      kafka:
        condition: service_healthy
    env_file:
      - .env
    restart: unless-stopped

  schema-inspector:
    environment:
      - OTEL_SERVICE_NAME=schema-inspector
      - PYTHONPATH=/app/libs
    build:
      context: .
      dockerfile: services/schema-inspector/Dockerfile.dev
    container_name: schema-inspector
    ports:
      - "${SCHEMA_INSPECTOR_PORT}:${SCHEMA_INSPECTOR_PORT}"
    volumes:
      - ./services/schema-inspector:/app
      - ./libs:/app/libs:ro
      - ./services/schema-inspector/templates:/app/templates:ro
    depends_on:
      kafka:
        condition: service_healthy
    env_file:
      - .env
    restart: unless-stopped